body {
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  letter-spacing: 2px;
}

h2 {
  text-align: center;
  letter-spacing: 2px;
}

h4 {
  text-align: center;
  background-color: #48876d;
  color: #ffffff;
  font-weight: bold;
}

/* img {
  float: left;
  height: 100px;
} */


button {
  background-color: #48876d;
  padding: 30px;
}


.container {
  /* background: linear-gradient(to top left, #a2bfb3 49.8%, #ffffff 50%);
  border: 15px solid #a2bfb3; */
  border: 12px solid #a2bfb3;
  max-width: 700px;
  padding: 20px;
}

/* .form-control:valid {
  background-color:  #27938e!important;
  border: 3px solid #000000;
  color: #ffffff;
} */

.center {
display: block;
margin-left: auto;
margin-right: auto;
}

.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* border: 3px solid #000000; */
}

.typeOne {
  display: none;
}

.typeTwo {
  display: none;
}

.typeThree {
  display: none;
}

.typeFour {
  display: none;
}

.typeFive {
  display: none;
}
