body {
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: 'Roboto', sans-serif;
  background-image: url(https://cdn.dribbble.com/users/822246/screenshots/3178778/coding_line_seamless_pattern-01.jpg);
}

h1 {
  text-align: center;
  letter-spacing: 2px;
}

h2 {
  text-align: center;
  letter-spacing: 2px;
}

h4 {
  text-align: center;
  background-color: #2e5e1c;
  color: #ffffff;
  font-weight: bold;
}

button {
  background-color: #2e5e1c;
  color: #ffffff;
  padding: 30px;
}


.container {
  /* border: 12px solid #a2bfb3; */
  background-color: white;
  max-width: 700px;
  padding: 20px;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
}

.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.typeOne {
  display: none;
}

.typeTwo {
  display: none;
}

.typeThree {
  display: none;
}

.typeFour {
  display: none;
}

.typeFive {
  display: none;
}
